.slider h3,
.slider h5,
.clients h3 {
   text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.parallax-container {
   height: 20%;
}

.parallax img {
   filter: grayscale(1);
   opacity: 0.5 !important;
}

.clients img {
   max-width: 150px;
   filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.8));
}

section,
footer {
   padding: 20px 0;
}

#top {
   position: fixed;
   right: 30px;
   bottom: 30px;
   width: 50px;
   height: 50px;
   border-radius: 50%;
   background: #880e4f;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
   color: #ffffff;
   border: none;
   outline: none;
   cursor: pointer;
}

#top:hover {
   background: #eceff1;
   color: #37474f;
}

.cc {
   border-radius: 15px;
}

.ccc {
   border-radius: 15px;
   width: 90%;
   opacity: 75%;
}

.cc-img {
   justify-content: center;
   align-items: center;
   align-self: center;
   padding-top: 5%;
}

/* Flipper Gallery */

.block-2 {
   margin-bottom: 20px;
   -webkit-perspective: 1000;
   -moz-perspective: 1000;
   -ms-perspective: 1000;
   perspective: 1000;
   -ms-transform: perspective(1000px);
   -moz-transform: perspective(1000px);
   -moz-transform-style: preserve-3d;
   -ms-transform-style: preserve-3d;
}

.block-2:hover .back,
.block-2.hover .back {
   -webkit-transform: rotateY(0deg);
   -moz-transform: rotateY(0deg);
   -o-transform: rotateY(0deg);
   -ms-transform: rotateY(0deg);
   transform: rotateY(0deg);
}

.block-2:hover .front,
.block-2.hover .front {
   -webkit-transform: rotateY(180deg);
   -moz-transform: rotateY(180deg);
   -o-transform: rotateY(180deg);
   transform: rotateY(180deg);
}

.block-2,
.block-2 .front,
.block-2 .back {
   width: 100%;
   height: 200px;
}

.block-2 .flipper {
   -webkit-transition: 0.3s;
   -webkit-transform-style: preserve-3d;
   -ms-transition: 0.3s;
   -moz-transition: 0.3s;
   -moz-transform: perspective(1000px);
   -moz-transform-style: preserve-3d;
   -ms-transform-style: preserve-3d;
   -webkit-transition: 0.6s;
   -o-transition: 0.6s;
   transition: 0.6s;
   transform-style: preserve-3d;
   position: relative;
}

.block-2 .front,
.block-2 .back {
   -webkit-backface-visibility: hidden;
   -moz-backface-visibility: hidden;
   -ms-backface-visibility: hidden;
   backface-visibility: hidden;
   border-radius: 0px;
   -webkit-transition: 0.3s;
   -webkit-transform-style: preserve-3d;
   -webkit-transform: rotateY(0deg);
   -moz-transition: 0.3s;
   -moz-transform-style: preserve-3d;
   -moz-transform: rotateY(0deg);
   -o-transition: 0.3s;
   -o-transform-style: preserve-3d;
   -o-transform: rotateY(0deg);
   -ms-transition: 0.3s;
   -ms-transform-style: preserve-3d;
   -ms-transform: rotateY(0deg);
   transition: 0.3s;
   transform-style: preserve-3d;
   transform: rotateY(0deg);
   position: absolute;
   top: 0;
   left: 0;
}

.block-2 .front {
   -webkit-transform: rotateY(0deg);
   -ms-transform: rotateY(0deg);
   background: lightgreen;
   z-index: 2;
   background-size: cover;
   background-position: center center;
   background-repeat: no-repeat;
}

.block-2 .front:before {
   content: '';
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   opacity: .7;
   background: rgba(255, 255, 255, 0);
   background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.15) 38%, rgba(0, 0, 0, 0.4) 100%);
   background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(38%, rgba(255, 255, 255, 0.15)), color-stop(100%, rgba(0, 0, 0, 0.4)));
   background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.15) 38%, rgba(0, 0, 0, 0.4) 100%);
   background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.15) 38%, rgba(0, 0, 0, 0.4) 100%);
   background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.15) 38%, rgba(0, 0, 0, 0.4) 100%);
   background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(38%, rgba(255, 255, 255, 0.15)), to(rgba(0, 0, 0, 0.4)));
   background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.15) 38%, rgba(0, 0, 0, 0.4) 100%);
   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#000000', GradientType=0);
}

.block-2 .front .box {
   position: absolute;
   bottom: 0;
   left: 20px;
   right: 10px;
   bottom: 10px;
}

.block-2 .front .box h5,
.block-2 .front .box p {
   color: #fff;
   margin: 0;
   padding: 0;
   line-height: 1.5;
}

.block-2 .front .box h2 {
   font-size: 10px;
}

.block-2 .front .box p {
   font-size: 12px;
}

.block-2 .back {
   background: #fff;
   -webkit-box-shadow: 0 0 70px -10px rgba(0, 0, 0, 0.4);
   box-shadow: 0 0 70px -10px rgba(0, 0, 0, 0.4);
   -webkit-transform: rotateY(-180deg);
   -moz-transform: rotateY(-180deg);
   -o-transform: rotateY(-180deg);
   -ms-transform: rotateY(-180deg);
   transform: rotateY(-180deg);
}

.block-2 .back p {
   position: absolute;
   top: 30px;
   left: 0;
   right: 0;
   text-align: center;
   padding: 0 20px;
   font-size: 16px;
}

.block-2 .author {
   bottom: 0;
   position: absolute;
   bottom: 20px;
   left: 20px;
   right: 20px;
}

.block-2 .author .image {
   width: 40px;
}

.block-2 .author .image img {
   border-radius: 50%;
   max-width: 100%;
}

.block-2 .author .name {
   color: #000000;
   font-family: "Lora", serif;
}

.block-2 .author .position {
   display: block;
   color: #ccc;
   font-size: 13px;
   font-family: "Poppins", Arial, sans-serif;
}

@media (max-width: 991.98px) {
   .block-2 .back {
      -webkit-transform: rotateY(0deg);
      -moz-transform: rotateY(0deg);
      -o-transform: rotateY(0deg);
      -ms-transform: rotateY(0deg);
      transform: rotateY(0deg);
   }

   .block-2 .front {
      -webkit-transform: rotateY(180deg);
      -moz-transform: rotateY(180deg);
      -o-transform: rotateY(180deg);
      transform: rotateY(180deg);
   }
}